---
layout: page
title: Categories
---

{% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign category_words = site_categories | split:',' | sort %}

<!-- Nav menu -->
<nav>
  <div class="nav nav-tabs" id="category-tab" role="tablist">
    {% for item in (0..site.categories.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ category_words[item] | strip_newlines }}{% endcapture %}
    <a href="#{{ this_word | replace:' ','-' }}-ref" class="nav-item nav-link {% if forloop.first %}active{% endif %}"
      data-toggle="tab" role="tab">
      {{ this_word | capitalize }}
    </a>
    {% endunless %}{% endfor %}
  </div>
</nav>

<!-- Tab panes -->
<div class="tab-content" id="category-tabContent">
  {% for item in (0..site.categories.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ category_words[item] | strip_newlines }}{% endcapture %}
  <div class="tab-pane fade {% if forloop.first %}show active{% endif %} mx-5 my-3 d-flex-column"
    id="{{ this_word | replace:' ','-' }}-ref">
    {% for post in site.categories[this_word] %}{% if post.title != null %}
    <div class="my-2">
      <a href="{{ site.BASE_PATH }}{{ post.url }}" class="content-link">
        {{ post.title }}
      </a>
      <div>
        {{ post.description }}
      </div>
      <div class="text-muted">
        {{ post.date | date: "%B %d, %Y" }}
      </div>
    </div>
    {% endif %}{% endfor %}
  </div>
  {% endunless %}{% endfor %}
</div>