<div class="page-header">
  <h3>{{ page.title }} </h3>
</div>

<div class="post-date mb-2">
  {% assign d = page.date | date: "%d" | plus:'0' %}
  {{ page.date | date: "%B" }}
  {% case d %}
  {% when 1 or 21 or 31 %}{{ d }}st,
  {% when 2 or 22 %}{{ d }}nd,
  {% when 3 or 23 %}{{ d }}rd,
  {% else %}{{ d }}th,
  {% endcase %}
  {{ page.date | date: "%Y" }}
  {% if page.tagline %}<small style="text-transform:none">{{page.tagline}}</small>{% endif %}
  {% if post.tagline %}<small>{{post.tagline}}</small>{% endif %}
</div>
<div class="article_body" id="article_body">
  {{ content }}
</div>

<div class="col author">
  <img src="{{ site.author.photo }}" class="author-image" />
  <h4 class="section-title author-name">{{site.author.name}}</h4>
  <p class="author-bio">{{site.author.bio}}</p>
</div>

<div class="col">
  {% unless page.categories == empty %}
  <div>
    <span class="iconify" data-icon="fa-solid:folder-open" data-inline="false"></span>&nbsp;
    {% assign categories_list = page.categories %}
    {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
    <span><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category }}-ref" class="tag-link">
        {{ category | join: "/" | capitalize }} <span>({{ site.categories[category].size }})</span></a>
      {% unless forloop.last %},{% endunless %}
    </span>
    {% endfor %}
    {% else %}
    {% for category in categories_list %}
    <span><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category[0] }}-ref" class="tag-link">
        {{ category[0] | join: "/" }} <span>/{{ category[1].size }})</span>
      </a></span>
    {% endfor %}
    {% endif %}
  </div>
  {% endunless %}


  {% unless page.tags == empty %}
  <div>
    <span class="iconify" data-icon="fa-solid:tag" data-inline="false"></span>&nbsp;
    {% assign tags_list = page.tags %}
    {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
    <span>
      <a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag }}-ref" class="tag-link">
        {{ tag | lowercase }} <span>({{ site.tags[tag].size }})</span>
        {% unless forloop.last %},{% endunless %}
      </a>
    </span>
    {% endfor %}
    {% else %}
    {% for tag in tags_list %}
    <span>
      <a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag[0] }}-ref" class="tag-link">
        {{ tag[0] }} <span>({{ tag[1].size }})</span>
        {% unless forloop.last %},{% endunless %}
      </a>
    </span>

    {% endfor %}
    {% endif %}
    {% assign tags_list = nil %}
  </div>
  {% endunless %}
</div>


<hr>

<div>
  <h4 class="section-title">Share Post</h4>
  <a href="http://twitter.com/intent/tweet?text={{ page.title | encode }}%20{{ site.url }}{{page.url}}{% if site.author.twitter %}&via={{ site.author.twitter }}{% endif %}"
    class="btn btn-outline-dark btn-sm mr-1" tabindex="-1" role="button" aria-disabled="true"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><span
      class="iconify i-twitter" data-icon="brandico:twitter-bird"></span>&nbsp;Twitter</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{page.url}}" target="_blank"
    class="btn btn-outline-dark btn-sm mx-1" tabindex="-1" role="button" aria-disabled="true"
    onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;"><span
      class="iconify i-facebook" data-icon="brandico:facebook"></span>&nbsp;Facebook</a>
  <a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.linkedin.com&title={{ page.title | encode }}&source={{ site.url }}{{page.url}}"
    class="btn btn-outline-dark btn-sm mx-1" tabindex="-1" role="button" aria-disabled="true"
    onclick="window.open(this.href, 'linkedin-share', 'width=550,height=235');return false;"><span
      class="iconify i-linkedin" data-icon="brandico:linkedin"></span>&nbsp;Linkedin</a>
</div>