@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;900&family=Ubuntu:wght@500&display=swap');


body {
	font-family: 'Raleway', sans-serif;
}

.page-header {
	font-family: 'Ubuntu', sans-serif;
	color: #e74d3c;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

#default {
	margin-bottom: 120px;
}

/* sidebar */
.sidebar {
	min-width: 25%;
	background-color: rgb(90, 90, 90);
	background:linear-gradient(0deg, rgb(42, 42, 42), rgba(124, 124, 124, 0.69)),url("/assets/img/background-cover.jpg");	
	background-size: 100% 100%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	text-shadow: 0 0 5px #000;
	color: #ffffff;
	margin-bottom: 0.5rem;
}

.title {
	font-size: 36px;
	letter-spacing: 3px;
}

.interests {
	font-size: 24px;
}

.hr-line {
	height: 2px;
	border:none;
	width: 40%;
	background-color: rgba(255,255,255,0.50);
}

.sidebar-img {
	height: 120px;
	width: 120px;
	box-shadow: 0 0 5px #000;
	border-radius: 50%;
	border: 2.5px solid #ffffff;
	margin: 1.5rem;
}

@media only screen and (max-width: 992px) {
	.sidebar-img {
		height: 60px;
		width: 60px;
		margin: 1rem;
	}
	.title {
		font-size: 32px;
	}
}

.btn-outline-light:hover {
	text-shadow: none;
}

.btn-outline-light:hover .i-github {
	color: #6f42c1;
	text-shadow: 0 0 5px #000;
}

.btn-outline-light:hover .i-linkedin {
	color: #2867b2;
}


.btn-outline-light:hover .i-twitter {
	color: #1da1f2;
}

.hr-line1 {
	height: 2px;
	border:none;
	width:15%;
	background-color: rgba(255,255,255,0.50);
}

/* links */
a {
	color: #464646;
	font-weight: bold;
}
a:hover {
	color: #e74d3c;
}

a.tag-link {
	font-weight: normal;
}

a.page-link {
	font-weight: normal;  
  }
a.page-link:hover {
	background-color: #f8f9fa;
}

/* post */

.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

.btn-outline-dark .i-facebook {
	color: #4267B2;
}
.btn-outline-dark:hover .i-facebook {
	color: #ffffff;
}

.btn-outline-dark .i-twitter {
	color: #1da1f2;
}
.btn-outline-dark:hover .i-twitter {
	color: #ffffff;
}

.btn-outline-dark .i-linkedin {
	color: #2867b2;
}
.btn-outline-dark:hover .i-linkedin {
	color: #ffffff;
}

/* author by-line */

.author .author-image {
  float: left;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.author-bio {
	font-family: 'Raleway', sans-serif;
}

.author-name {
	letter-spacing: 1px;
}

/* resume */

.resume-section {
	margin-bottom: 2rem;
}

.resume-section > h3 {
	font-family: 'Ubuntu';
	color: #e74d3c;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.resume-group {
	margin-bottom: 1.5rem;
}

.resume-heading {
	font-weight: 700;
}

.resume-subheading {
	font-size: 12px;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.resume-list {
	list-style-type: square;
}

.skill-group {
	
}

.skill-item {
	margin: .5rem;
}
.skill-item .iconify {
	height: 36px;
	width: 36px;
}

/* footer */

.i-bootstrap {
	color: #602c50;
}